@font-face {
  font-family: "Celestina";
  src: url(/assets/font/Celestina.ttf);
}
@font-face {
  font-family: "HelvetRm";
  src: url(/assets/font/helveticaneuecyr_roman.otf);
}
@font-face {
  font-family: "HelvetUl";
  src: url(/assets/font/helveticaneuecyr_ultralight.otf);
}
@font-face {
  font-family: "Fedra";
  src: url(/assets/font/FedraSansPro.ttf);
}
body {
  margin: 0;
  padding: 0;
}
body a {
  text-decoration: none;
}
header {
  position: fixed;
  width: 100%;
  height: 65px;
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  z-index: 999;
}
header .header_logo {
  font-family: "Celestina";
  font-size: 24px;
  font-weight: 550;
  color: #fff;
}
header .header_contacts-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
header .header_contacts-wrapper .header_contacts {
  font-family: "HelvetUl";
  font-size: 20px;
  font-weight: 600;
  color: #f1f1f1;
  letter-spacing: 2px;
}
header .header_contacts-wrapper .header_contacts:first-child {
  margin: 0 50px;
}
header .header_contacts-wrapper .header_contacts:hover {
  color: #b6b6b6;
  transition: 0.3s;
}
header .header_contacts-wrapper .header_contacts:active {
  color: #797979;
}
.main-preview_block {
  width: 100%;
  height: 650px;
  background-image: url("/img/header.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-preview_block .preview_block-h1 {
  font-family: "Celestina";
  font-size: 48px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  margin: -160px 0 30px 0;
}
.main-preview_block .preview_block-p {
  font-family: "HelvetRm";
  font-size: 16px;
  font-weight: 500;
  color: #000;
  text-align: center;
  width: 200px;
  height: 50px;
  border: 1px #000 solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-preview_block .preview_block-p:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  transition: 0.3s;
}
.main-preview_block .preview_block-p:active {
  background-color: rgba(0, 0, 0, 0.75);
  border: 1px rgba(255, 255, 255, 0.8156862745) solid;
  color: rgba(255, 255, 255, 0.8156862745);
  transition: 0.15s;
}
.main-about_block {
  width: auto;
  height: 450px;
  display: flex;
  flex-direction: row;
  padding: 25px 40px 0 40px;
  margin-bottom: 50px;
  background-color: #fff;
}
.main-about_block .about_block-left {
  width: 500px !important;
  height: 100% !important;
  background-image: url(/img/main.jpg);
  background-size: cover;
}
.main-about_block .about_block-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  background-color: rgba(0, 0, 0, 0.05);
}
.main-about_block .about_block-right .block-right_h1 {
  font-family: "Fedra";
  font-size: 36px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  margin: 0 0 0 50px;
}
.main-about_block .about_block-right .block-right_p {
  font-family: "HelvetRm";
  font-size: 18px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  margin: 50px 30px 0 50px;
}
.main-advantage_block {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 80px;
}
.main-advantage_block .advantage_block-h1 {
  font-family: "Fedra";
  font-size: 36px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
}
.main-advantage_block .advantage_wrapper {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-template-rows: 380px;
  gap: 30px;
  grid-auto-flow: row;
}
.main-advantage_block .advantage_wrapper .wrapper_item {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 25px;
}
.main-advantage_block .advantage_wrapper .wrapper_item .wrapper_item-h2 {
  font-family: "HelvetRm";
  font-size: 24px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.85);
  text-align: left;
  width: auto;
}
.main-advantage_block .advantage_wrapper .wrapper_item .wrapper_item-p {
  font-family: "HelvetRm";
  font-size: 18px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
}
.main-advantage_block .advantage_wrapper .wrapper_item:hover {
  background-color: #ececec;
  transition: 0.5s;
}
.main-colored_block {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2b3b2a;
}
.main-colored_block .colored-block_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.main-colored_block .colored-block_h1 {
  width: 550px;
  margin-right: 50px;
  font-family: "Fedra";
  font-size: 24px;
  font-weight: 550;
  color: #fdfbf6;
  text-align: center;
}
.main-colored_block .colored-block_h1 span {
  font-family: "Celestina";
  font-size: 48px;
  font-weight: 550;
  color: #ffd666;
}
.main-colored_block .colored-block_img {
  width: 250px;
  height: 250px;
  z-index: 998;
}
.main-program_block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-bottom: 80px;
}
.main-program_block .program-block_h1 {
  font-family: "Fedra";
  font-size: 28px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.85);
  margin: 80px 0 50px 0;
}
.main-program_block .program_container {
  display: grid;
  grid-template-columns: 800px;
  grid-template-rows: 120px 120px 120px 120px 120px 120px;
  grid-auto-flow: row;
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.main-program_block .program_container .container_item {
  background-color: #e7e7e7;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main-program_block .program_container .container_item p {
  width: 600px;
  padding-left: 25px;
  font-family: "Fedra";
  font-size: 18px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
}
.main-program_block .program_container .container_item .program-block_p2 {
  width: 200px;
  font-family: "Fedra";
  font-size: 20px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
}
.main-program_block .program_container .container_item:nth-child(2) {
  background-color: #fff;
}
.main-program_block .program_container .container_item:nth-child(4) {
  background-color: #fff;
}
.main-program_block .program_container .container_item:nth-child(6) {
  background-color: #fff;
}
.main-buy_block {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #2b3b2a;
}
.main-buy_block .buy-block_h1 .gradient {
  font-family: "Celestina";
  font-size: 48px;
  font-weight: 550;
  margin: 0 0 50px 0;
  color: rgba(0, 0, 0, 0);
  background-clip: text;
  color: rgba(0, 0, 0, 0);
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(270deg, #aac12d, #76b772, #72b793, #c6bf5a);
  background-size: 800% 800%;
  -webkit-animation: gradh2 15s ease infinite;
  -moz-animation: gradh2 15s ease infinite;
  animation: gradh2 15s ease infinite;
}
.main-buy_block .buy-block {
  width: 350px;
  height: 400px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-buy_block .buy-block .buy-block_h2 {
  font-family: "Fedra";
  font-size: 28px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  width: 250px;
  margin: 15px 0;
}
.main-buy_block .buy-block .buy-block_p {
  font-family: "HelvetRm";
  font-size: 18px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 250px;
  margin: 15px 0;
}
.main-buy_block .buy-block .buy-block_btn {
  width: 250px;
  height: 60px;
  margin: 25px 0;
  border-radius: 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.main-buy_block .buy-block .buy-block_btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  transition: 0.3s;
}
.main-buy_block .buy-block .buy-block_btn:active {
  background-color: rgba(0, 0, 0, 0.75);
  border: 1px #fff solid;
  color: #fff;
  transition: 0.15s;
}
@-webkit-keyframes gradh2 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradh2 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradh2 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.main-promo_block {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: center;
  margin: 40px 0;
}
.main-promo_block .promo-block_right {
  width: 45%;
  height: 100%;
  background-image: url(/img/bottom.jpg);
  background-size: cover;
}
.main-promo_block .promo-block_left {
  width: 55%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-promo_block .promo-block_left .promo-block_h1 {
  font-family: "Fedra";
  font-size: 28px;
  font-weight: 650;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
}
.main-promo_block .promo-block_left .promo-block_p {
  font-family: "HelvetRm";
  font-size: 18px;
  font-weight: 500;
  width: 500px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
.main-promo_block .promo-block_left form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 350px;
}
.main-promo_block .promo-block_left form .promo-block_input {
  padding: 0;
  width: 348px !important;
  height: 60px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 0px;
  text-align: center;
  color: rgba(0, 0, 0, 0.65);
  border-bottom: 0;
}
.main-promo_block .promo-block_left form .promo-block_input:first-child {
  margin-top: 20px;
}
.main-promo_block .promo-block_left form .promo-block_input:focus,
.main-promo_block .promo-block_left form .promo-block_input:active {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 0;
  text-align: center;
  font-family: "HelvetRm";
  font-size: 14px;
  font-weight: 550;
  color: rgba(0, 0, 0, 0.65);
}
.main-promo_block .promo-block_left form .promo-block_input::placeholder {
  text-align: center;
  font-family: "HelvetRm";
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.35);
}
.main-promo_block .promo-block_left form button {
  padding: 0;
  width: 100%;
  height: 60px;
  box-shadow: 0;
  border: 1px solid rgba(0, 0, 0, 0.45);
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 0px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600px;
  margin-top: -1px;
}
.main-promo_block .promo-block_left form button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  transition: 0.3s;
}
.main-promo_block .promo-block_left form button:active {
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  transition: 0.15s;
}
.main-faq_block {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}
.main-faq_block .main-faq_h1 {
  font-family: "Fedra";
  font-size: 28px;
  font-weight: 650;
  margin-bottom: 60px;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
}
.main-faq_block .faq-content {
  width: 800px;
  margin: 0 auto;
}
.main-faq_block .faq-question {
  padding: 20px 0;
  border-bottom: 1px dotted #ccc;
}
.main-faq_block .panel-title {
  font-size: 24px;
  width: 100%;
  position: relative;
  margin: 0 0 0 50px;
  padding: 10px 10px 0 48px;
  display: block;
  cursor: pointer;
}
.main-faq_block .panel-content {
  font-size: 20px;
  padding: 0px 14px;
  margin: 0 40px;
  height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}
.main-faq_block .panel:checked ~ .panel-content {
  height: auto;
  opacity: 1;
  padding: 14px;
}
.main-faq_block .plus {
  position: absolute;
  margin-left: 20px;
  margin-top: 4px;
  z-index: 5;
  font-size: 42px;
  line-height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  color: #2b3b2a;
}
.main-faq_block .panel:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  color: #2b3b2a;
}
.main-faq_block .panel {
  display: none;
}
footer {
  width: 100%;
  height: 180px;
  background-color: #2b3b2a;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
footer .footer_logo {
  font-family: "Celestina";
  font-size: 24px;
  font-weight: 550;
  color: rgba(226, 226, 226, 0.7);
}
footer .footer_mail {
  font-family: "HelvetUl";
  font-size: 20px;
  font-weight: 600;
  color: rgba(226, 226, 226, 0.7);
  letter-spacing: 2px;
}
footer .footer_phone {
  font-family: "HelvetUl";
  font-size: 20px;
  font-weight: 600;
  color: rgba(226, 226, 226, 0.7);
}
@media screen and (max-width: 479px) {
  header {
    width: 100%;
    height: 50px;
    position: relative;
  }
  header .header_contacts-wrapper {
    display: none;
  }
  .main-preview_block {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-attachment: unset;
  }
  .main-preview_block .preview_block-h1 {
    margin: 0;
    color: #fff;
    text-shadow: 5px 5px #000;
  }
  .main-preview_block .preview_block-p {
    color: #fff;
    border: 1px #fff solid;
    margin-top: 50px;
  }
  .main-about_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 25px 0 0 0;
    margin: 0;
  }
  .main-about_block .about_block-left {
    width: 90% !important;
    height: 200px !important;
  }
  .main-about_block .about_block-right {
    width: 90%;
  }
  .main-about_block .block-right_h1 {
    width: 280px;
    margin: 20px 0 !important;
  }
  .main-about_block .block-right_p {
    margin: 0 0 50px 0 !important;
  }
  .main-advantage_block {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  .main-advantage_block .advantage_block-h1 {
    margin: 30px 0 20px 0;
    width: 280px;
  }
  .main-advantage_block .advantage_wrapper {
    grid-template-columns: 350px;
    grid-template-rows: 380px 380px 380px;
  }
  .main-colored_block {
    width: 100%;
    height: 700px;
  }
  .main-colored_block .colored-block_content {
    flex-direction: column;
  }
  .main-colored_block .colored-block_content .colored-block_h1 {
    width: 280px;
    margin: 20px 0 35px 0;
  }
  .main-program_block {
    width: 100%;
    height: auto;
  }
  .main-program_block .program-block_h1 {
    font-size: 36px;
  }
  .main-program_block .program_container {
    grid-template-columns: 380px;
  }
  .main-buy_block {
    width: 100%;
    height: 680px;
  }
  .main-buy_block .buy-block_h1 {
    width: 280px;
    text-align: center;
  }
  .main-promo_block {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  .main-promo_block .promo-block_right {
    width: 100%;
    height: 300px !important;
  }
  .main-promo_block .promo-block_left {
    width: 100%;
    height: 500px;
  }
  .main-promo_block .promo-block_left .promo-block_p {
    width: 320px;
  }
  .main-faq_block {
    width: 100%;
  }
  .main-faq_block .faq-content {
    width: 250px;
    margin: 0 0 0 -50px;
  }
  .main-faq_block .panel-title {
    padding: 0;
  }
  .main-faq_block .plus {
    margin: 10px 20px 0 0;
  }
  .main-faq_block .panel-content {
    width: 250px;
  }
  footer {
    flex-direction: column;
    padding: 30px 0;
  }
}
